.lotusui30 .leftMenuItems li {
	display: block;
	border-left: none;
	padding: 0px;
	margin: 5px 10px 0 10px;
}

.jsonLink a {
	font-size: 1em;
}

.jsonLink {
	margin: 50px 10px 0 10px;
}

.lotusui30 .lotusTitleBar2.lotusTitleBar2Tabs .lotusHeading {
	padding-top: 25px;
}

.lotusMain .lotusColLeft {
	width: 10em;
}
.intro {
	border: 1px solid black;
	background-color: #eee;
	margin-right: 60px;
	padding: 0 10px 10px 10px;
}

.actionButtons {
	margin-top: 20px;
}

.xspTextLabel {
	font-weight: bold;
	float: left;
}

.image {
	margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.lotusHeading img {
	margin-right: 10px;
	margin-bottom: 3px;
}